################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin
/src/obj
/src/Properties/PublishProfiles
/src/QuickGridColumnResizer.csproj.user
