table.quickgrid .column-resizer {
    cursor: ew-resize;
    border: none;
    background: transparent;
}

    table.quickgrid .column-resizer::before {
        content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMTkyIDUxMiI+PHBhdGggZD0iTTEyIDMyYy00LjQgMC04IDMuNi04IDhsMCA0MzJjMCA0LjQgMy42IDggOCA4czgtMy42IDgtOEw0MCA0MGMwLTQuNC0zLjYtOC04LTh6bTEyOCAwYy00LjQgMC04IDMuNi04IDhsMCA0MzJjMCA0LjQgMy42IDggOCA4czgtMy42IDgtOGwwLTQzMmMwLTQuNC0zLjYtOC04LTh6Ii8+PC9zdmc+');
    }
